/* Стили для тэгов */

h1 {
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 47px;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  line-height: 122%;
  text-transform: uppercase;
}

p {
  font-style: normal;
}

button {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid;
  padding: 10px 32px 10px 32px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 180px;
}

/* Стили для Навигации */

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  grid-template-areas: "header__menu header__logo address";
  padding: 92px 50px 96px 50px;
}

.header__menu {
  grid-area: header__menu;
}

.header__links-list {
  display: flex;
  justify-content: left;
  gap: 28px;
  list-style-type: circle;
}

.header__links-list-item {
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.025em;
}

a.header__link_active {
  text-decoration: none;
  border-bottom: none;
}

a:hover.header__link_active {
  color: #000;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  grid-area: header__logo;
  display: flex;
  justify-content: center;
}

a.header__logo {
  border-bottom: none;
  text-decoration: none;
}

a:hover.header__logo {
  color: #000;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.adress {
  grid-area: address;
  width: 100%;
  max-width: 240px;
  font-size: 18px;
  line-height: 24px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
}

/* Стили для Обложки */

.cover {
  width: 100%;
  min-height: 757px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  padding: 165px 50px 135px 50px;
  z-index: 1;
}

.aligned-text {
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px 80px;
  z-index: 1;
}

.cover__description-text {
  font-size: 22px;
  line-height: 127%;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 0.82em;
}

/* Стили для карточек */

.lots {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 0 24px;
}

.lots__heading {
  color: #000;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.lots__card-list-item {
  flex-basis: 334px;
  flex-grow: 1;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  min-height: 563px;
  flex-direction: row;
  padding: 48px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a:hover.card-link {
  color: #fff;
}

.card__title {
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

.card-type-film {
  background-image: url('../images/card-lot-01.jpg');
}

.card-type-book {
  background-image: url('../images/card-lot-02.jpg');
}

.card-type-picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
  display: block;
  text-decoration: underline;
  border: none;
  font-size: 20px;
  height: 25px;
  padding-left: 40px;
}

/* Стили блока о компании */

.about {
  display: grid;
  grid-template-columns: 360px 1fr;
  align-items: center;
  justify-items: center;
  grid-template-areas: "about__logo about__title about__text";
  gap: 0 12px;
  padding: 8px 12px 0;
}

.about__logo {
  grid-area: about__logo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  grid-column-start: 1;
  grid-column-end: 1;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-area: about__title;
  justify-self: left;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.about__text {
  grid-area: about__text;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

/* Стили футера */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "footer__address footer__menu footer__social-list";
  padding: 183px 50px 96px 50px;
}

.footer__address {
  grid-area: footer__address;
}

.footer__menu {
  grid-area: footer__menu;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: left;
  list-style-type: none;
}

.footer__links-list-item {
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0.025em;
}

a.footer__link_active {
  text-decoration: none;
  border-bottom: none;
}

a:hover.footer__link_active {
  color: #000;
}

.footer__social-list {
  grid-area: footer__social-list;
  display: flex;
  align-items: start;
  justify-content: right;
  gap: 48px;
  list-style-type: none;
}

.footer__social-link {
  text-decoration: none;
  border-bottom: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}